<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203260050824-nqv6ptnvnfron0mm7nt7djdg9kc27cgp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203260050824-nqv6ptnvnfron0mm7nt7djdg9kc27cgp</string>
	<key>API_KEY</key>
	<string>AIzaSyDaEYRVSDFFvG6l0e7IhAtzL-_xT4btqS4</string>
	<key>GCM_SENDER_ID</key>
	<string>203260050824</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.team.ohmydate</string>
	<key>PROJECT_ID</key>
	<string>oh-my-date</string>
	<key>STORAGE_BUCKET</key>
	<string>oh-my-date.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203260050824:ios:ce09062ab7959c2c378e3d</string>
</dict>
</plist>